@model List<Category>
@{
    ViewData["Title"] ="Index";
}

<h3> الفئات</h3>
@*<table class="table table-borderd table-hover">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
@foreach (var item in @Model)
{
    <tr>
        <td>@item.Name</td>
        <td><a href="/Category/Update/@item.Id">update</a></td>
        <td><a href="/Category/Delete/@item.Id">Delete</a></td>    
    </tr>
}
</table>

  <td><a href="/Category/New">ADDNew</a></td>*@
  @if (User.IsInRole(Roles.ADMIN_ROLE))
  {
      <a class="btn btn-secondary" asp-controller="Category" asp-action="New" >اضافة فئة جديدة <i class='fa fa-plus-circle'></i></a>  
  }
 
<table class="table table-borderd table-hover">
    <tr>
        <td></td>
        <td></td>
    </tr>

     @foreach (var item in @Model)
    {  
        <tr>
           <td>
               <a class="btn btn-success" asp-controller="Product" asp-action="showproductatcategory" asp-route-id="@item.Id">@item.Name </a> &nbsp;
           </td>
              @if (User.IsInRole(Roles.ADMIN_ROLE)){
                  <td><a class="btn btn-info" asp-controller="Category" asp-action="Update" asp-route-id="@item.Id">تعديل الفئة <i class='fa fa-edit'></i></a> </td>
              }
       </tr>
    
     
 
  
    }

</table>






          