@model string

<h1class='text-danger mt-5 mb-5 text-center' style='font-size:5rem;font-weight:bold'>هناك خطأ لقد حدث</h1class>
<p class='text-danger mt-5 text-center' style='font-size:2rem;font-weight:bold'>@Model</p>
