

<div class='container'>
    <h1 class='text-center fs-5 fw-bold text-info'>المطورين الذين نفذوا الموقع</h1>
    <div class='row mt-5'>
        <div class='col-md-4 col-sm-12 text-center'><img  class='rounded-circle'  src='~/img/Developers/ahmed.jpg ' alt='الشعار' style='width:100px;height:100px'/></div>
        <p class='col-md-4 col-sm-12 text-center'>المهندس : أحمد علاء احمد</p>
        <p class='col-md-4 col-sm-12 text-center'>01140316573</p>
    </div>
    <div class='row mt-5'>
        <div class='col-md-4 col-sm-12 text-center'><img class='rounded-circle' src='~/img/Developers/mohamed.jpg' alt='الشعار' style='width:100px;height:100px'/></div>
        <p class='col-md-4 col-sm-12 text-center'>المهندس : محمد احمد سعد</p>
        <p class='col-md-4 col-sm-12 text-center'>01151789264</p>
    </div>
    <div class='row mt-5'>
        <div class='col-md-4 col-sm-12 text-center'><img class='rounded-circle' src='~/img/Developers/mona.jpg' alt='الشعار' style='width:100px;height:100px'/></div>
        <p class='col-md-4 col-sm-12 text-center'>المهندسه : منى عبدالمعز</p>
        <p class='col-md-4 col-sm-12 text-center'>01096814982</p>
    </div>
    <div class='row mt-5'>
        <div class='col-md-4 col-sm-12 text-center'><img class='rounded-circle' src='~/img/Developers/sara.jpg' alt='الشعار' style='width:100px;height:100px'/></div>
        <p class='col-md-4 col-sm-12 text-center'>المهندسه : ساره عبدالحكيم</p>
        <p class='col-md-4 col-sm-12 text-center'>01092830159</p>
    </div>

</div>
