@model Gallary
@{
    ViewData["Title"] = "delete";
}

<h1>حذف المعرض</h1>
<partial name="_DetailsView">
<a class="btn btn-danger" asp-controller="Gallary" asp-action="confirmdelete" asp-route-id="@Model.Id">تأكيد</a>

