@model Gallary
@{
    ViewData["Title"] = "DetailsforBuyer";
}

<h1>تفاصيل المعرض</h1>
<div class="container mt-5">
    <div class="row">
        <div class="card col-4 my-shadow mb-3">
              <img class="card-img-top" height="300" width="360" src="/img/GallaryLogo/@Model.Logo" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">@Model.Name</h4>
                <p class="card-text">@Model.Created_Date</p>
                <a class="btn btn-info" asp-controller="Gallary" asp-action="mygallary" asp-route-id="@Model.User_Id">عودة</a>

              </div>
          </div>
      </div>
  </div>


